body{
    font-family: "Nunito", sans-serif;
    font-size: 14px;
  
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


/*Mofificado*/

.btn {
    font-size: 14px;
    height: 2rem;
}

.dropdown-item{
    font-size: 14px;
}

footer {
    color: white;
}

th.hide_me, td.sorting_1 {
    display: none;
}

table.dataTable td, table.dataTable th {
    vertical-align: middle;
}

th.sorting_disabled {
    background: rgb(51, 122, 183);
    font-weight: normal;
}

.form-control {
    font-size: 14px;
}